html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background-color: #F7F7F7;
	font-family: "Î¢ÈíÑÅºÚ";
}

ul,li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.datalive {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
}

.datalive h2 {
	line-height: 30px;
	font-weight: bold;
	color: #996600;
	background-image: url(images/d.png);
	height: 30px;
	width: 100%;
	font-size: 14px;
	padding-left: 20px;
	margin: 0px;
}

.datalive li {
	background-color: #FFFFF7;
	
	height: 30px;
	line-height: 30px;
	clear: both;
}

.data_time {
	height: 30px;
	line-height: 30px;
	background-color: #F0EEEC;
	width: 30px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #848484;
	text-align: center;
	font-size: 11px;
}

.dl_home {
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	font-size: 12px;
}

.dl_visitors {
	padding-right: 5px;
	padding-left: 5px;
	float: right;
	font-size: 12px;
}

#teamdata {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #475F85;
	padding-right: 8px;
	padding-left: 7px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.ts {
	background-image: url(images/data_team_2@2x.png);
	background-repeat: repeat-y;
	float: left;
	width: 305px;
	padding-right: 16px;
	padding-left: 16px;
	margin-top: -5px;
	margin-bottom: -8px;
}

.ts li {
	line-height: 28px;
	height: 28px;
}

.ts .p1 {
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width: 78px;
	text-align: center;
	line-height: 26px;
	height: 26px;
}

.ts .p1 img {
	margin-top: 4px;
}

.ts .p2 {
	float: left;
	color: #405C8C;
	font-size: 14px;
	width: 115px;
	text-align: center;
	line-height: 26px;
	height: 26px;
	font-weight: bold;
}

.ts .line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0DFEF;
}

#Asiaodds {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	background-color: #FFF;
}

#Asiaodds td {
	text-align: center;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E6E9EA;
}

#Asiaodds2 {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	background-color: #FFF;
}

#Asiaodds2 td {
	text-align: center;
	line-height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
}

#odds-detail-div td {
	font-size: 12px;
	text-align: left;
	line-height: 24px;
	padding-left: 1px;
	padding-right: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
}

.o_title td {
	background-image: url(images/ef.png);
	background-repeat: repeat-x;
	font-weight: bold;
	color: #816C5C;
}

.euodds {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	background-color: #FFF;
}

.euodds td {
	text-align: center;
	line-height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E6E9EA;
}

.eu_t {
	color: #556584;
}

.euodds h2 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #C30;
}

#fx {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	background-color: #FFF;
}

.fx_title1 {
	background-image: url(images/fx_title_1.png);
	background-repeat: no-repeat;
	font-weight: bold;
	color: #2D6EAE;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	padding-left: 20px;
}

.fx_title2 {
	background-image: url(images/fx_title_2.png);
	font-weight: bold;
	color: #2D6EAE;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	padding-left: 20px;
}

#fx .fx_2title {
	line-height: 25px;
	font-weight: bold;
	color: #525252;
	background-image: url(images/fx_2title@2x.png);
	height: 25px;
	padding-left: 13px;
	text-align: left;
}

#fx td {
	line-height: 24px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDD1D3;
}

.fx_col td {
	background-color: #F3F3F3
}

#ao_c {
	margin: 0px;
	padding: 0px;
}

.ac_left_title {
	background-image: url(images/ac_left_1@2x.png);
	background-size: 100% 100%;
	height: 26px;
	line-height: 26px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 
}

#ao_c li {
	line-height: 25px;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
	font-size: 12px;
	font-weight: bold;
	color: #31455F;
	font-family: "Î¢ÈíÑÅºÚ";
	text-align: left;
	padding-left: 13px;
}

.ac_bg {
	background-image: url(images/ac_left_bg@2x.png);
	background-repeat: repeat-y;
	background-size: 100% 100%;
}

.ac_r_title {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #1F65A4;
	background-image: url(images/ac_right_title.png);
	background-repeat: repeat-x;
	height: 26px;
	text-align: left;
	padding-left: 8px;
}

.ac_time {
	font-size: 10px;
	color: #B3B3B3;
	font-family: "Times New Roman", Times, serif;
}

#ao_c .ac_Select {
	color: #FFF;
	background-image: url(images/ac_left_Select@2x.png);
	background-size: 100% 100%;
}

.ac_r_bg td {
	background-color: #F5F5F5;
}

.ac_r_bg2 td {
	background-color: #FFF;
}

.ou_td_bg td {
	background-color: #EEE;
}

#team {
	background-image: url(images/team_bg@2x.png);
	margin-right: auto;
	margin-left: auto;
	width: 310px;
	height: 326px;
	padding-top: 14px;
	padding-left: 12px;
}

.teams1 {
	height: 215px;
	width: 122px;
	background-image: url(images/home_tile1@2x.png);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFF;
	padding-top: 35px;
	padding-left: 13px;
}

.teams2 {
	height: 215px;
	width: 122px;
	background-image: url(images/home_tile2@2x.png);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFF;
	padding-top: 35px;
	padding-left: 13px;
	margin-left: 28px;
	margin-bottom: 10px;
}

.teams3 {
	height: 150px;
	width: 122px;
	background-image: url(images/home_tile3@2x.png);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFF;
	padding-top: 35px;
	padding-left: 13px;
}

.teams4 {
	height: 150px;
	width: 122px;
	background-image: url(images/home_tile4@2x.png);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFF;
	padding-top: 35px;
	padding-left: 13px;
	margin-left: 28px;
}

#data {
	width: 320px;
	margin: 0 auto;
	font-size: 12px;
}

#data td {
	text-align: center;
	line-height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
}

.data_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C4C4;
	background-image: url(images/data_title.png);
	background-repeat: repeat-x;
	color: #393E40;
}

.date_td1 {
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
}

.date_td2 {
	background-color: #F4F7F7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
}

.data_time2 {
	color: #999999;
}

.bx_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
	color: #576C84;
	background-color: #EAEDEE;
}

.nodata {
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 100px !important;
	padding-top: 120px !important;
}

.repository-nodata {
	color: #000000;
	font-size: 14px;
	margin-left: 100px !important;
	padding-top: 120px !important;
}

.noEventdata {
	color: #475F85;
	font-size: 14px;
	margin-left: 90px !important;
	padding-top: 100px !important;
}

.noYapeidata {
	color: #475F85;
	font-size: 14px;
	margin-left: 110px !important;
	padding-top: 100px !important;
}

.hide {
	display: none
}

.oddsGreen {
	color: #003300
}

.oddsRed {
	color: #FF0000
}

.oddsBlue {
	color: #0000FF
}

.teamNameGreen {
	color: #003300
}

.text_break {
	word-wrap: break-word;
	word-break: break-all;
}

.line11 {
	width:320px;
	height:1px; 
	border-bottom:1px solid #D7D7D7
}